
body {
    font-family: "Trirong", serif;
}

header h1 {
    color: blueviolet;
}

nav {
    margin-bottom: 20px;
}

.container .title-img {
    width: 1000px;
    height: auto;
}

.tweets {
    text-align: center;
    margin: 20px 100px;
    border-bottom: solid orange;
}

.tweets .tw_icon_name {
    text-align: left;
}

.tweets .tw_created {
    text-align: right;
}



