<!DOCTYPE html>
<html lang="ja">
<head>
    <title>AnimePF</title>
    <meta charset="utf-8">
    <link rel="stylesheet" href="../static/css/style.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Audiowide|Sofia|Trirong">
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
</head>
<body>
    <header>
        <h1>Hello, AnimePF !</h1>
        
        <img src="../static/imgs/violet_free01.jpg">
    </header>
    <nav>something</nav>
    <div id="app" class="container">
        <ul>
            <li v-for="item in items">{{item}}</li>
        </ul>
    </div>


    <script src="../static/js/main.js"></script>
</body>



</html>